<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>회원가입 신청 접수 안내</title>
</head>
<body>
  <p>[K-jobgo] 회원가입 신청 접수 안내</p>
  <p>안녕하세요, <strong th:text="${companyName}">회사명</strong>님!</p>

  <p>회원가입 신청이 정상 접수되었습니다.<br/>
     관리자 확인 후 최대 2영업일 이내에 승인 완료 안내 메일을 보내드립니다.</p>

  <hr/>

  <p>• 승인 전에는 로그인할 수 없습니다.<br/>
     • 신청 상태는 신청 상태 확인 페이지에서 확인 가능합니다.</p>
  <hr/>

  <p>감사합니다.<br/>
     ㈜한국경영지원사업단(K-jobgo) 드림</p>
</body>
</html>