<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>K-jobgo login</title>
     <!-- Favicon -->
<link rel="icon" href="https://k-jobgo-profile-photos-seoul.s3.ap-northeast-2.amazonaws.com/img/favicon.png" />
	
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<!-- 모달창 -->
<div th:fragment="loginModal">
<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    
    <p class="modal-note">※ 이 로그인은 관리자 전용입니다 ※</p>
    
    <form id="loginForm" method="post">
      <label for="userId">아이디</label>
      <input type="text" id="userId" name="userId"  placeholder="아이디를 입력하세요" required>
      
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password"  placeholder="비밀번호를 입력하세요" required>

      <input type="button" id="submitLoginBtn" value="로그인">
    </form>
  </div>
</div>
</div>
        <!-- JS 연결 -->
    <script th:src="@{/js/login.js}"></script>
    
</body>
</html>